@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,400;0,500;0,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
  background-color: black;
  color: white;
  font-family: 'Bebas Neue', cursive;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10vh;
  display: flex;
  align-items: center;
}

.menu{
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.logo{
  font-size: 35px;
  color: white;
}

.logo:hover{
  color: blue  
}

input{
  width: 300px;
  height: 35px;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
} 

.menu-horizontal{
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.menu-horizontal > li > a{
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}

.menu-horizontal li:hover{
  background-color: blue;
} 

.menu-vertical{
  color: white;
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
  background-color: rgba(0,0,0,0.5);
}

.menu-horizontal li:hover .menu-vertical{
  display: block;
}

.menu-vertical li:hover{
  background-color: black
}

.menu-vertical{
  color: white;
  padding: 15px 15px 15px 20px;
}

 a{
  color: white;
 }

.btn-1{
  display: inline-block;
  padding: 7px 20px;
  background-color: blue;
  color: white;
  font-size: 20px;
}

.btn-1:hover{
  color: white;
  background-color: blue;
}

.black {
    color: black;
}

.swiper-container{
  margin-top: 0;
}


.swiper {
    width: 100%;
    height: 85%;
    overflow: hidden;
  }

  .swiper::selection{
    user-select: none;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper-slide .image .black {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom, rgba(0,0,0,0.0),rgba(0,0,0,0.9));
}

.swiper-slide .image .black{
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom, rgba(0,0,0,0.0),rgba(0,0,0,0.9));
  }

  .swiper-slide .image .black h1{
    font-size: 30px;
    text-align: left;
    position: relative;
    top: 60%;
    left: 5%;
    color: #fff;
  }

  .swiper-slide .image .black .star{
    color: blue;
    text-align: left;
    font-size: 16px;
    margin: 10px 0;
    position: relative;
    top: 60%;
    left: 5%;
  }

  .swiper-slide .image .black p{
    width: 550px;
    text-align: justify;
    font-size: 16px;
    color: #cccccc;
    margin: 10px 0;
    position: relative;
    top: 60%;
    left: 5%;
    line-height: 23px;
    font-family: "Ink Free";
  }

  .swiper-slide .image .black .genre{
    text-align: left;
    font-size: 16px;
    margin: 13px 0;
    position: relative;
    top: 60%;
    left: 5%;
  }

  .swiper-slide .image .black .genre a.category{
    background: #282931;
    text-decoration: none;
    color: #cccccc;
    padding: 2px 7px;
  }

  .swiper-slide .image .black .genre a.category span{
    color: blue;
  }

  .swiper-slide .image .black .watch{
    width: 700px;
    text-align: left;
    display: flex;
    font-size: 16px;
    margin: 10px 0;
    position: relative;
    top: 60%;
    left: 5%;
  }

  .swiper-slide .image .black .watch i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: blue;
    border-radius: 50%;
    cursor: pointer;
  }


  .second{
    margin: 30px;
    width: 95%;
    height: auto;
    padding-bottom: 25px;
    background: black   ;
  }
 
  .second .latest{
    width: 95%;
    margin: 0 auto;
  }
  
  .second .latest h1{
    font-size: 35px;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .second .latest .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .second .latest .box .card{
    width: 250px;
    height: 370px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .second .latest .box .card .details{
    width: 250px;
    height: 370px;
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
  }
  
  .second .latest .box .card:hover .details{
    opacity: 1;
    background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.7));
  }
  
  .second .latest .box .card .details .left{
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateX(-100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .second .latest .box .card:hover .details .left{
    opacity: 1;
    transform: translateX(0);
  }
  
  .second .latest .box .card .details .left p.name{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .second .latest .box .card .details .left .date_quality{
    display: flex;
    align-items: center;
  }
  
  .second .latest .box .card .details .left .date_quality p.quality{
    width: 30px;
    font-size: 13px;
    background: blue;
    color: #282931;
    margin-left: 10px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
  }
  
  .second .latest .box .card .details .left .date_quality p.date{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 8px;
  }
  
  .second .latest .box .card .details .left p.category{
    margin-left: 10px;
    font-size: 13px;
    margin-bottom: 8px;
  }
  
  .second .latest .box .card .details .left .info{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .second .latest .box .card .details .left .info .rate{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .second .latest .box .card .details .left .info .rate i{
    font-size: 12px;
    color: blue;
    margin-right: 5px;
  }
  
  .second .latest .box .card .details .left .info .rate p{
    font-size: 12px;
  }
  
  .second .latest .box .card .details .left .info .time{
    display: flex;
    align-items: center;
  }
  
  .second .latest .box .card .details .left .info .time i{
    font-size: 12px;
    color: blue;
    margin-left: 5px;
  }
  
  .second .latest .box .card .details .left .info .time p{
    font-size: 12px;
    margin-left: 5px;
  }
  
  .second .latest .box .card .details .right{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    transform: translateX(100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .second .latest .box .card:hover .details .right{
    opacity: 1;
    transform: translateX(0);
  }
  
  .second .latest .box .card .details .right i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: blue;
    border-radius: 50%;
    cursor: pointer;
    color: #282931;
    margin: 0 10px 8px 0;
  }
  
.second .latest .box .card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  }

  .movies{
    padding: 50px 0 0 0;
    display: flex;
    flex-direction: column;
}


h2{
    font-size: 35px;
    margin-bottom: 20px;
}

hr{
    border: 1px solid blue;
    width: 50%;
    margin-bottom: 40px;
}

.box-container-1,
.box-container-2,
.box-container-3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.box-1,
.box-2,
.box-3{
    border-radius: 5px;
    z-index: 1000;
    display: none;
}

.box-1:nth-child(1),
.box-1:nth-child(2),
.box-1:nth-child(3),
.box-1:nth-child(4){
    display: inline-block;
}

.box-2:nth-child(1),
.box-2:nth-child(2),
.box-2:nth-child(3),
.box-2:nth-child(4){
    display: inline-block;
}

.box-3:nth-child(1),
.box-3:nth-child(2),
.box-3:nth-child(3),
.box-3:nth-child(4){
    display: inline-block;
}

.load-more{
    margin-top: 40px;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 15px;
    border: 1px solid blue;
    color: blue;
    font-size: 20px;
    cursor: pointer;
    align-self: flex-end;
}
.load-more-2{
    margin-top: 40px;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 15px;
    border: 1px solid blue;
    color: blue;
    font-size: 20px;
    cursor: pointer;
    align-self: flex-end;
}
.load-more-3{
    margin-top: 40px;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 15px;
    border: 1px solid blue;
    color: blue;
    font-size: 20px;
    cursor: pointer;
    align-self: flex-end;
}
.load-more:hover{
    background-color: blue;
    color: white;
}

.content img{
    width: 100%;
    margin-bottom: 15px;
}

.content h3{
    font-size: 20px;
    margin-bottom: 10px;
}

.content{
    color: white;
    font-size: 20px;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    margin-top: 100px;
    border-top: 1px solid #6928ff3d;
}

.footer ul{
    display: flex;
}

.footer h3{
    font-size: 30px;
}

footer a{
    color: white;
    font-size: 20px;
    margin-right: 20px;
    display: block;
}

.footer a:hover{
    color: blue;
}




